---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=760b767ea5d197a1bfd94424352b69f2&lat=48.87&lon=2.33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":2.33,"lat":48.87},"list":[{"main":{"aqi":2},"components":{"co":260.35,"no":0,"no2":7.28,"o3":66.52,"so2":1.54,"pm2_5":2.08,"pm10":3.23,"nh3":0.59},"dt":1699987807}]}'
  recorded_at: Tue, 14 Nov 2023 18:50:07 GMT
recorded_with: VCR 6.2.0
